  <footer class="page-footer blue-grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text" style='margin-left: -15px'>About Me</h5>
          <p class="grey-text text-lighten-4" style='margin-left: -15px'>
            Designer @ <a href="https://www.hwintegral.com/design">HWIntegral.com</a></p>
        </div>
        <div class="col l3 s12">
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>, hamster wheels and caffeine.
      </div>
    </div>
  </footer>
