<!DOCTYPE html>
<html lang="en">

{{> header }}

<body class="black">

  {{> navbar }}

  <div class="container firstcontainer">
    <div class="row">
      <div class="section">
        <h1 class="header left white-text">{{ sitedescription }}</h1>
      </div>
    </div>
  </div>

  <div>
    <img class="bannerimg" src="./images/cover.jpeg" alt="Cover Image">
  </div>

  {{> footer }}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  <script src="//instant.page/3.0.0" type="module" defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>
  </body>
</html>
